{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'encuestas/style.css' %}">
    <link rel="icon" href="{% static 'encuestas/img/icon.ico' %}">
    <title>Preguntas</title>
</head>
<body>
    {% if ultimas_preguntas %}
        <ol class="lista">
    {% for p in ultimas_preguntas %}
            <li><a href="{% url 'encuestas:detalle' p.id %}">{{ p.pregunta_p }}</a></li>
    {% endfor %}
        </ol>
    {% else %}
        <p>No hay encuestas disponibles</p>
    {% endif %}
</body>
</html>